@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Não deixa qeubrar o frame no hover */
}

:root {
    --cor-ancora: #332562;
    --cor-fonte: white;

    --fonte-padrao: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-padrao);

    background: url(imagens/telalogin.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 450px;
    height: 500px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.237) 0px 5px 10px;
}

.container h1 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 17px 55px 17px 20px; /* Adicione espaço à esquerda para o ícone */
    border: 1px solid #ccc;
    border-radius: 30px;
    background: transparent; /* Torna o fundo transparente */
    color: var(--cor-fonte); /* Ajusta a cor do texto */
    outline: none; /* Remove o contorno ao focar */
}

::placeholder {
    color: rgba(255, 255, 255, 0.549);
    font-family: var(--fonte-padrao);
    font-size: 16px;
}

.input-box i {
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px; /* Ajuste o tamanho do ícone */
    color: var(--cor-fonte); /* Cor do ícone */
}

.remember {
    position: relative;
    color: white;
    left: 10px;
}

.remember a {
    position: relative;
    color: var(--cor-fonte);
    text-decoration: none;
    left: 65px;
}

.remember a:hover {
    text-shadow: 3px 3px 8px #000000d5, 0 0 20px #fff;
    color: var(--cor-fonte);
    text-decoration: underline;
}

button {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 25px 0px 15px 0px;
}

button:hover {
    box-shadow: rgba(255, 255, 255, 0.174) 0px 0px 24px, rgba(105, 105, 125, 0.157) 0px 16px 56px, rgba(254, 254, 255, 0.1) 0px 24px 80px;
    /* transform: translate(-3px, -3px);
    transition: transform 0.2s ease-in-out; */
}

/* button:active {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(254, 254, 255, 0.1) 0px 24px 80px;
    transform: translate(3px, 3px);
    transition: transform 0.1s ease-in-out;
} */

footer {
    text-align: center;
    margin: 10px 0px 0px 0px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-shadow: 3px 3px 8px #000000d5, 0 0 20px #fff;
    transform: translate(-5px, -5px);
    color: var(--cor-fonte);
    text-decoration: underline;
}


